*.o
ProcessadorICMC2.pdf
__pycache__/
server exited unexpectedly
sim
simuladorGO
simuladorGO/*
simulador_Linux
simulador_Linux/*
*.mif
!charmap.mif
test.asm
Makefile
Assembler_Source
Assembler_Source/*
Simulator_Source/*
Simulator_Source